<!DOCTYPE html>
<html>
    <head>
        <title>DSA - Lab 4</title>
    </head>
    <body>
        <div style="text-align: center;">
        <h1>Data Science Academy</h1>
        <h2>Modelo de Machine Learnign para prever se o cliente fara uma proxima compra</h2>
        <h3>Digite abaixo o valor das 4 ultimas compras do cliente</h3>
        <form action="/predict" method="post">
            <input type="text" name="feature1" placeholder="valor compra 1" required="required">
            <input type="text" name="feature2" placeholder="valor compra 2" required="required">
            <input type="text" name="feature3" placeholder="valor compra 3" required="required">
            <input type="text" name="feature4" placeholder="valor compra 4" required="required">
            <button type="submit">Prever</button>
        </form>

        {% if prediction_text %}
            <h3>{{prediction_text}}</h3>
        {% endif %}
    </body>
</html>